node_modules
.pnp
.pnp.js
_outOD
# testing
coverage

# next.js
.next/
out/
next-env.d.ts
_out/
# nitro
.nitro/
.output/

tmp/
# production

dist/
bin/
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
env.yaml
.env*.demo
.env*.production
.env*.local
.env.config
config.yaml
# vercel
.vercel

# typescript
*.tsbuildinfo





test-build.yml

# turbo
.turbo

packages/config/src/**
packages/config/src/index.ts

cli/configs/config.json
**/config.json
env-configmap.yaml
