node_modules
**/.env
apps_Dep/**
apps_Dep/*
apps_Dep
apps_Dep/
apps_Dep/**/*
.turbo
build/**
dist/**
.next/**
out/**
generated/**
apps/server/src/generated/**
**/generated/**
**/generated
**/dist
dist/**
tmp
*.pem
.env
*.tsbuildinfo