name: Auto.Tag

on:
  workflow_dispatch:
  pull_request:
    types: [opened]
  push:
jobs:
  tag:
    if: github.actor == 'biohackerellie'
    permissions: write-all
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 22
    steps:
      - uses: phish108/autotag-action@v1.1.64
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          with-v: "true"
